/* Barton Phillips CSS */
@font-face {
        font-family: liberation;
        src: url(../fonts/liberation/LiberationSans-Regular.ttf);
}
html {
        max-width: 1200px;
        margin: auto;
        font-size: 16px;
}
body {
        background-color: white; 
        font-family: liberation, serif;
        font-size: 1.5em;
/* Christmas and New Years
Xmas 
  background-image: url('http://www.granbyrotary.org/images/xmassnow.jpg');
New Years 
  background: url('http://www.granbyrotary.org/images/happy6.gif'); 
  background-position:top; 
*/
}
footer {
        text-align: center;
}
.center {
        text-align: center;
}
ul {
        line-height: 150%;
}

@media (min-width: 1024px) {
        body {
                font-size: 1.7em;
        }
        ul {
                font-size: 1em;
        }
}
@media (max-width: 800px) {
        body {
                font-size: 1.5em;
        }
}
@media (max-width: 400px) {
        body {
                font-size: 1em;
        }
}