# Apache2 2.4 uses Require

Require all granted

Header set Access-Control-Allow-Origin "*"

SetEnv SITELOADNAME /var/www/vendor/bartonlp/site-class/src/siteload.php
SetEnv AUTOLOADNAME /var/www/vendor/bartonlp/site-class/src/autoload.php

# REWRITE SECTION
RewriteEngine on

# direct robots.txt to robots.php
RewriteRule ^robots\.txt$ robots.php [L,NC]
RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]

# rewrite the address of csstest.css to tracker.php?id=$1&csstest
RewriteRule ^csstest-(.*)\.css$ https://bartonlp.com/otherpages/tracker.php?id=$1&page=csstest [L,QSA]

# Keep others from looking at these files.
RewriteRule ^(\.git|other|script)/.*$ - [F,L]
RewriteRule ^(\.gitignore|mysitemap\.json|sitemap-new\.txt)$  - [F,L]

FileETag All

# Enable Cache-Control headers
# I am using cacheBuster for css, JavaScript, favicon
<IfModule mod_headers.c>

  # HTML - no caching
  <FilesMatch "\.(html|htm)$">
    Header set Cache-Control "no-cache, must-revalidate"
  </FilesMatch>

  # json and xml--30 days
  <FilesMatch "\.(json|xml)$">
    Header set Cache-Control "public, max-age=2592000"
  </FilesMatch>

  # Text files - moderate caching (30 days)
  <FilesMatch "\.(txt)$">
    Header set Cache-Control "public, max-age=2592000"
  </FilesMatch>

  # Images - long caching (30 days)
  <FilesMatch "\.(gif|png|jpe?g)$">
    Header set Cache-Control "public, max-age=2592000"
  </FilesMatch>

  # Icons - long and immutable (1 year)
  <FilesMatch "\.(ico)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>

  # JavaScript - long and immutable (1 year, with cache buster)
  <FilesMatch "\.(js)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>

  # CSS - long and immutable (1 year, with cache buster)
  <FilesMatch "\.(css)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>

</IfModule>


AddOutputFilterByType DEFLATE \
  "application/atom+xml" \
  "application/javascript" \
  "application/x-javascript" \
  "application/json" \
  "application/ld+json" \
  "application/manifest+json" \
  "application/rdf+xml" \
  "application/rss+xml" \
  "application/schema+json" \
  "application/vnd.geo+json" \
  "application/vnd.ms-fontobject" \
  "application/x-font-ttf" \
  "application/x-font-woff" \
  "application/x-web-app-manifest+json" \
  "application/xhtml+xml" \
  "application/xml" \
  "font/opentype" \
  "image/svg+xml" \
  "image/x-icon" \
  "text/cache-manifest" \
  "text/css" \
  "text/html" \
  "text/javascript" \
  "text/plain" \
  "text/vtt" \
  "text/x-component" \
  "text/xml"
 
# ChatGPT.
AddType application/font-woff2 .woff2
AddType font/woff .woff
AddType font/ttf .ttf
