Options -Indexes +Includes +FollowSymLinks

# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 days"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES

# BEGIN NO Cookies for static items
# <FilesMatch "\.(js|css|jpg|png|jpeg|gif|xml|json|txt|pdf|mov|avi|otf|woff|ico|swf)$">
# 	RequestHeader unset Cookie
# 	Header unset Cookie
#  	Header unset Set-Cookie
# </FilesMatch>
# END NO Cookies

AddType application/x-javascript .js
AddType text/css .css
AddType text/xml .xml
AddType text/cache-manifest .manifest

AddDefaultCharset UTF-8

# Do compression of the followin types

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css

# 11/3/10 hack attempts
RewriteEngine on

RewriteCond %{HTTP_USER_AGENT} ^libwww-perl
RewriteRule .* - [F]

RewriteCond %{REQUEST_URI} ^/webstats.php
RewriteCond %{REQUEST_METHOD} POST
RewriteRule .* - [F]

RewriteRule ^download.pdf$ downloadpdf.php [L]
