/* css for index.php */
/* The blp.css is in the includes/head.i.php */

/* :root local to index.css */
:root {
  --indexBkColor: #FCF6CF;
}
/* info from http://ipinfo.io */
.locstr {
  margin: 1rem 0;
}
/* the ul with 'User Agent String' etc */
.user-info {
  line-height: 1rem;
  margin: 0px;
}
/* "You have been here xx times" */
.hereMsg {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1rem;
}
/*
.mylinks {
  text-align: center;
  margin: auto;
}*/
/* My Sites */
.mylinks {
  text-align: center;
  margin: auto;
  border-spacing: .5rem;
}
.mylinks th {
  background-color: var(--indexBkColor);
  padding: .2rem;
  border-radius: .2rem;
  border: 1px solid black;
}
.mylinks button {
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  display: table-cell;
  background-color: var(--indexBkColor); /*#FCF6CF;*/
  border: none;
  cursor: pointer;
}
.mylinks button:hover {
  color: green;
}
.mylinks a {
  text-decoration: none;
}
.subtitles { /* the h3's */
  line-height: 0;
}
/* Images */
#blpimg { /* My Logo Image */
  float: left;
  padding: 5px 10px;
}
#octocat { /* GitHub Image */
  width: 80px;
  vertical-align: bottom;
}
/* Colors */
.green {
  color: green;
}
.red {
  color: red;
}
/* Main Title div in $h->banner */
#mainTitle {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#mainTitle > span {
  font-size: 1.5rem;
}
#mainTitle span:last-child {
  font-size: 1.2rem;
}
/* Sections */
#browser-info { /* section */
  border-top: 1px solid gray;
}
/* blog section */
#blog { 
  text-align: center;
}
#blog a {
  display: inline-block;
  text-decoration: none;
}
#blog a button {
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  border-radius: .5rem;
  border: 1px solid black;
  padding: .3rem;
  background-color: var(--indexBkColor);
  color: black;
}
#blog a button:link, #blog a button:visited {
  border: none;
  background-color: red;
}
#blog a button:hover {
  color: green;
}
/* sections */
#mysites {
}
#projects {
  font-size: 1.5rem;
}
#grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  border: 1px solid black;
  background-color: #FEFFF1;
}
#grid-section ul {
  list-style: none;
  padding-left: 0;
}
#interesting, #adminstuff, #internet {
  padding: .5rem;
  border-left: 1px solid black;
}
/* center the h2 for index.php */
#adminstuff > h2 {
  text-align: center;
}
#github { /* section */
  padding: .5rem;
}
#smallScreen {
  display: none;
  text-align: center;
}
#smallScreen button {
  background-color: var(--indexBkColor);
}
/* Make the 'grid-section' into a block and remove borders from sections */
@media (max-width: 799px) {
  #grid-section {
    display: block;
    margin-top: 1rem;
  }
  #github, #interesting, #adminstuff, #internet {
    border: none;
  }
  #grid-section ul {
    padding-left: 2rem;
  }
}  
/* For small screens make thing inline and remove bigScreen. Mke the isc.sans.edu image small */
@media (max-width: 560px) {
  #bigScreen {
    display: none;
  }
  #smallScreen {
    display: block;
  }
  img[src="https://isc.sans.edu/images/status.gif"] {
    width: 300px; /* this should fit in any mobile dev */
  }
}
