/* css for index.php */
/* The blp.css is in the includes/head.i.php */

/* :root local to index.css */
:root {
  --indexBkColor: #FCF6CF;
}
.center { text-align: center; }
/* info from http://ipinfo.io */
.locstr {
  margin: 1rem 0;
}
/* the ul with 'User Agent String' etc */
.user-info {
  line-height: 1rem;
  margin: 0px;
}
/* "You have been here xx times" */
.hereMsg {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1rem;
}
.subtitles { /* the h3's */
  line-height: 0;
}
#location i { cursor: pointer; }
#geo i { cursor: pointer; }
#removemsg {
  color: white;
  background: red;
  border-radius: 5px;
  padding: 2px;
}
/* a place for maps.js to put the geo table. */
#outer {
  display: none;
  position: absolute;
  z-index: 20;
  padding-bottom: 30px;
}
#TrackerCount {
  display: inline;
  font-size: .4rem;
  color: #8aa492;
}
/* Images */
#blpimg { /* My Logo Image */
  float: left;
  padding: 5px 10px;
}
#octocat { /* GitHub Image */
  width: 80px;
  vertical-align: bottom;
}
/* Colors */
.green {
  color: green;
}
.red {
  color: red;
}
/* Sections */
#browser-info { /* section */
  border-top: 1px solid gray;
}

#projects {
  font-size: 1.5rem;
}
#grid-section {
  border: 1px solid black;
  background-color: #FEFFF1;
}
@supports (display: grid) {
  #grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
#grid-section ul {
  list-style: none;
  padding-left: 0;
}
#interesting, #adminstuff, #internet {
  padding: .5rem;
  border-left: 1px solid black;
}
/* center the h2 for index.php */
#adminstuff > h2 {
  text-align: center;
}
#github { /* section */
  padding: .5rem;
}
/* Other Websites */
#others {
  width: 90%;
  text-align: center;
  margin: auto auto;
  padding: 10px 10px;
  margin-bottom: 5px;
}
#others h2 {
  margin-bottom: 3px;
  text-align: center;
}
/* Other Websites bigScreen mylinks */
.mylinks button {
  background-color: var(--indexBkColor);
  padding: .2rem; 
  border-radius: .2rem;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 2px 0px;
}

.mylinks a:hover {
  color: green;
}
.mylinks a {
  text-decoration: none;
  color: black;
  padding: .2rem;
}

/* Make the 'grid-section' into a block and remove borders from sections, make others 100%  */
@media (max-width: 799px) {
  #others {
    width: 100%;
  }
  #grid-section {
    display: block;
    margin-top: 1rem;
  }
  #github, #interesting, #adminstuff, #internet {
    border: none;
  }
  #grid-section ul {
    padding-left: 2rem;
  }
}  
