Options +Indexes +Includes

Order Deny,Allow
Deny from All

AuthName "Barton Phillips Admin"
AuthType Basic
AuthUserFile /var/www/bartonphillipsdotcom/admin/.htpasswd
require valid-user
Satisfy Any


