XBitHack on
Options +Indexes +Includes

Order Deny,Allow
Deny from All

AuthName "Barton Phillips Admin"
AuthType Basic
AuthUserFile /home/bartonlp/bartonphillips.com/htdocs/admin/.htpasswd
require valid-user
Satisfy Any


