<?php
// BLP 2014-09-16 -- This file is included from: members.php, multimail.php, mail.php
// Each called has instantiated the class in $S

$FILE = basename(__FILE__);

switch($FILE) {
  case "members.php":
    $TitleTitle = "Members Page";
    $Description = "Members Page";
    $MainTitle = "<h1>Poker Club Members Page</h1>";
    break;
  case "email.php":
    $TitleTitle = "Send an Email";
    $Description = "Send an Email";
    $MainTitle = "<h1>Send An Email</h1>";
    break;                  
  case "multmail.php":
    $TitleTitle = "Send Multiple Emails";
    $Description = "Send Multiple Emails";
    $MainTitle = "<h1>Send Multiple Emails</h1>";
    break;
}

// Edit this <head> .... </head> to suit your needs.
// NOTE: $TitelTitle and $Description are both passed in from the
// main php program.

$Header = <<<EOF
<head>
   <title>$TitleTitle</title>

   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <meta name="Author"
      content="Barton L. Phillips, mailto:barton@bartonphillips.com"/>

   <meta name="description"
      content="$Description"/>

   <meta name="keywords" content="poker"/>

   <!-- Link our custom CSS -->
   <link rel="stylesheet"  href="members.css" type="text/css"/>

   <!-- jQuery -->

   <script type="text/javascript" src="../js/jquery-1.3.2.min.js"></script>

   <script type='text/javascript'>
jQuery(document).ready(function($) {
  $(".select").show();
  
  $("#selectAll").click( function() {
    $("input[type='checkbox']").attr("checked","true");
  });
  $("#selectNone").click( function() {
    $("input[type='checkbox']").removeAttr("checked");
  });

  $("#attachbutton").click(function() {
    $("#attach input:first").clone(true).insertBefore("#attachbutton").val("");
  });

});
</script>  

<style type='text/css'>
.debug {
  display: none;
}
</style>

</head>

EOF;

// Footer if any

$Footer = <<<EOF
<h2><a href="index.php">Return to Main Page</a></h2>
EOF;

// Database select statement to get the people you want.
// The member's database must have:
// FName (first name), LName (last name), a numeric id and EMail (the
// email address of the user. It can have any other data you wish.

// Note if your fields are different for above use the MySql 'as'
// statement to make them work. For example if you have 'first, last'
// then do 'first as FName, last as LName' etc.
// Note also if you use $id or any other variable you must escape it
// \$id as this is eval'ed in the code.

define(MEMBER_QUERY, "select * from pokermembers where Email is not NULL order by LName");
define(MAIL_QUERY, "select Email, FName, LName from pokermembers where id='\$id'");
define(MULTI_QUERY, "select * from pokermembers where id in (\$ids)");
define(GET_MEMBER, "select FName, LName, Email from pokermembers where id='\$MemberId'");

define(ALLOWED_DOMAIN, "(^http://www.bartonphillips\.com|http://www\.google.com/reader/view/\?source=gmailnonewmail)i");
define(UPLOAD_DIR, "/tmp");

define(MAIL_FOOTER, "\n\n--\nGranby Poker Club\nhttp://www.bartonphillips.com/pokerclub\n");

// How do you get the members ID? If you don't get a member id return
// zero

function GetMemberId() {
  global $S;
  
  return $S->id;
}

?>