# RSS FEED CONFIG FILE FOR www.bartonphillips.com
# This is for use on my home system NOT the web server!!!
#
# $newsfile if the web page file that contains your news items
$newsfile = "/home/barton/lamphost/bartonphillips.com/htdocs/index.php";
# $tmpfile is a temp file to hold the modified $newsfile. This could
# be called temp.$$ and kept in your /tmp directory if you like.
$tmpfile = "/tmp/rssnews.$$";
# $rssfile is the name of the rss feed xml file. Probably put in the
# same directory as your news page.
$rssfile = "/home/barton/lamphost/bartonphillips.com/htdocs/rssfeed.xml";
# $backup is the name of the file where the old $newsfile is moved
$backupfile = "$newsfile.old";
# $baseUrl plus $page plus $anchor go in the <item><link> for a news story.
$baseUrl = "http://www.bartonphillips.com/";
# $headerTags is the xml that goes at the start after the <channel>
# tag. Customize for your site.
$headerTags = <<'EOF';
  <title>Barton Phillips Home Page</title>
  <link>http://www.bartonphillips.com</link>
  <description>Barton Phillips Home Page News</description>
EOF

