# .htaccess for directory isabot
# This has the IsABot class and robots.php, and sitemap.php files.
Options +Includes +Indexes
<RequireAll>
 Require all granted
</RequireAll>

Header set Accept-CH Sec-CH-UA-Full-Version-List
Header set Access-Control-Allow-Origin "*"

RewriteEngine on

# direct robots.txt to robots.php
RewriteRule ^robots\.txt$ robots.php [L,NC]
RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]
