# NOTE: even though this inherets from bartonphillips.com and bartonphillips.com/examples it does not display the directory
# because we redirect to altorouter.php. The examples directory's .htaccess has 'Options +Includes +Indexes' but altorouter.php gets
# controll first!

RewriteEngine on
RewriteRule ^$ altorouter.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . altorouter.php [L]

