# Apache2 2.4 uses Require
Require all granted

Options +Includes
# include .shtml files or files with the execution bit set
Header set Access-Control-Allow-Origin "*"

SetEnv SITELOAD /var/www/vendor/bartonlp/site-class/includes
SetEnv SITELOADNAME /var/www/vendor/bartonlp/site-class/includes/siteload.php

RewriteEngine on
# rewrite the address of csstest.css to tracker.php?id=$1&csstest
RewriteRule ^csstest-(.*)\.css$ https://bartonlp.com/otherpages/tracker.php?id=$1&page=csstest [L,QSA]
